# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# Environment variables
.env

# Build / cache
dist/
build/
*.egg-info/

# Node (if ever added)
node_modules/

# OS files
Thumbs.db